<div>
	<nav class="navbar navbar-default navbar-static" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand nav-external" href="#home"> <strong>工程交易管理平台</strong>
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a href="#home">首页</a>
					</li>
					<li>
						<a ui-sref="login">登录</a>
					</li>
					<li>
						<a ui-sref="register">免费注册</a>
					</li>
					<li>
						<a ui-sref="home.projectPub">我的订单</a>
					</li>
					<li>
						<a href="#about">我是雇主</a>
					</li>
					<li>
						<a href="#contact">我是服务商</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
