<div class="header">
    <div class="headerLogo"><img alt="logo" src="images/logo1.png"></div>
    <h2>新用户注册</h2>
</div>

<div class="banner">

    <div class="login-aside">
        <div id="o-box-up"></div>
        <div id="o-box-down" style="table-layout:fixed;">

            <form name="vform" novalidate>
                <div class="form-group">
                    <label for="logonId" class="form-label">手机号码</label>
                    <div>
                        <input type="text" name="logname" class="form-control" placeholder="输入手机号码" data-bv-trigger="keyup" ng-model="vm.logname" required>
                        <span class="error" ng-show="vform.logname.$dirty && vform.logname.$invalid">
                            <span ng-show="vform.logname.$error.required">请输入手机号码</span>
                        </span>
                    </div>

                    <div class="ui-form-explain"></div>
                </div>

                <div class="form-group">
                    <label class="form-label">登录密码</label>
                    <div>
                        <input type="password" name="pwd" class="form-control" placeholder="设置密码" data-bv-trigger="keyup" ng-model="vm.pwd" required>
                        <span class="error" ng-show="vform.pwd.$dirty && vform.pwd.$invalid">
                            <span ng-show="vform.pwd.$error.required">请输入密码</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logonId" class="form-label">用户类型</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="usertype" id="common" value="1" checked="checked">普通用户
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="usertype" id="institute" value="2">设计院
                        </label>
                    </div>
                </div>

                <div style="padding-right:30px">
                    <input type="submit" value="同意协议并注册" class="btn btn-primary subbtn" ng-disabled="vform.logname.$dirty && vform.logname.$invalid || vform.pwd.$dirty && vform.pwd.$invalid" ng-click="vm.reg()">
                </div>

            </form>
            <div class="reg">已有账号？<a ui-sref="login">登录</a></div>
        </div>

    </div>

    <div class="bd">
        <ul>
            <li style="background:url(images/regbg.jpg) #CCE1F3 center 0 no-repeat;"></li>

        </ul>
    </div>

</div>
<div class="banner-shadow"></div>