<div class="egcontainer panelbg">
    <form id="projectform" name="pform" novalidate>
        <div class="egcontent">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title">发布项目需求</h5>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>项目名称</label>
                        <input type="text" class="form-control" placeholder="请填写项目名称" name="projectname" id="projectname" ng-model="vm.pinfo.ProjectName" required />
                        <span class="error" ng-show="pform.projectname.$dirty">
                            <span ng-show="pform.projectname.$error.required">请输入项目名称</span>
                        </span>
                    </div>

                    <div class="form-inline inlinestyle">
                        <div class="form-group">
                            <label>项目类别</label>
                            <select class="form-control" name="projectclass" id="projectclass" ng-model="vm.pinfo.ClassID" ng-options="class.ProjectClassName for class in vm.pinfo.classDatas"></select>
                        </div>
                        <div class="form-group">
                            <label>建筑面积</label>
                            <input type="text" class="form-control" name="areas" placeholder="请输入建筑面积" id="areas" ng-model="vm.pinfo.Area" required />
                            <span class="error" ng-show="pform.areas.$dirty">
                                <span ng-show="pform.areas.$error.required">请填写面积</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-inline inlinestyle">

                        <div class="form-group">
                            <label>是否在当地服务</label>
                            <select class="form-control" name="islocal" ng-model="vm.pinfo.IsLocal">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-inline inlinestyle">
                        <div class="form-group">
                            <label>预计工期</label>
                            <input type="text" class="form-control" name="estimatetime" id="estimatetime" ng-model="vm.pinfo.ExpectWorkTime" required />
                            <span class="error" ng-show="pform.estimatetime.$dirty">
                                <span ng-show="pform.estimatetime.$error.required">请填写预计工期</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>项目所在地</label>
                            <input type="text" class="form-control" name="location" id="location" ng-model="vm.pinfo.Location" required />
                            <span class="error" ng-show="pform.location.$dirty">
                                <span ng-show="pform.location.$error.required">请填写项目所在地</span>
                            </span>
                        </div>

                    </div>

                    <div class="form-inline inlinestyle">
                        <div class="form-group">
                            <label>项目金额</label>
                            <input type="text" class="form-control" name="totalmoney" id="totalmoney" ng-model="vm.pinfo.ProjectRate" required />
                            <span class="error" ng-show="pform.totalmoney.$dirty">
                                <span ng-show="pform.totalmoney.$error.required">请填写项目金额</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>设计费托管</label>
                            <select class="form-control" name="ishost" ng-model="vm.pinfo.IsHost">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>项目概况</label>
                        <textarea rows="5" class="form-control" name="overview" id="overview" ng-model="vm.pinfo.Summary" required></textarea>
                        <span class="error" ng-show="pform.overview.$dirty">
                            <span ng-show="pform.overview.$error.required">请填写项目概况</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>所需专业人员</label>
                        
                        <button type="button" class="btn btn-default" ng-model="vm.pinfo.selectedMajors" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="major.Name for major in vm.pinfo.majorDatas" bs-select data-max-length="10">
                            Action <span class="caret"></span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label>其他要求</label>
                        <textarea rows="5" class="form-control" id="other" name="other" ng-model="vm.pinfo.OtherRequire" required></textarea>
                        <span class="error" ng-show="pform.other.$dirty">
                            <span ng-show="pform.other.$error.required">请填写其他要求</span>
                        </span>
                    </div>

                </div>

                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>

        </div>
    </form>
    <form name="tform" id="tform" novalidate>

        <div class="egcontent" id="task">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title">添加项目任务</h5>
                </div>
                <div class="panel-body">
                    <div class="form-inline inlinestyle">
                        <div class="form-group">
                            <label>任务类型</label>
                            <select class="form-control" id="tasklist" name="tasklist" ng-model="vm.taskClass" ng-options="task.TaskName for task in vm.taskClassDatas"></select>
                        </div>
                        <div class="form-group">
                            <label>任务金额(元)</label>
                            <input type="text" class="form-control" id="taskmoney" name="taskmoney" ng-model="vm.taskMoney" required />
                            <span class="error" ng-show="tform.taskmoney.$dirty">
                                <span ng-show="tform.taskmoney.$error.required">请填写金额</span>
                            </span>
                            <button type="button" id="addtask" class="btn btn-primary" ng-click="vm.addTask()" ng-disabled="tform.taskmoney.$dirty && tform.taskmoney.$invalid">添加任务</button>
                        </div><br /><br />
                        <table class="table table-striped table-bordered table-hover" id="tasktable">
                            <thead>
                                <tr>
                                    <th>任务编号</th>
                                    <th>任务名称</th>
                                    <th>任务金额(元)</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="task in vm.taskDatas">
                                    <td>{{task.ID}}</td>
                                    <td>{{task.TaskName}}</td>
                                    <td>{{task.TaskRate}}</td>
                                    <td><a href="" title="删除" ng-click="vm.removeTask(task)">删除</a></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <hr />
                </div>
                <div class="col-md-2 panelbt">
                    <input type="button" class="btn btn-primary btn-block" value="发布项目" id="propub" ng-click="vm.addProject(pform.$valid)" ng-disabled="pform.$invalid" />
                </div>
            </div>
        </div>
    </form>
</div>
